#wrappercontainer{width:1007px; height:auto; margin:0 auto}
#maincontainer{width:1007px; height:auto; float:left; margin-top: 13px;}

#header{ width: 1007px; height: 75px; float: left;}
#header .logo{ width: 150px; height: auto; float: left;}
#header .rightsection{ width: 300px; height: auto; float: right;}

ul.rightnav{ width: auto; height: auto; float: right; margin: 0px; padding: 0px;}
ul.rightnav li{ width: auto; height: auto; float: left; margin: 0px; padding: 0px; list-style: none; margin-right: 20px; }
ul.rightnav li a{ color: #333; font-size: 16px;}

.createaccount{ width: 134px; height: auto; float: left; color: #642c8e; font-size: 14px; padding-top: 33px;}
.createaccount a{ color: #642c8e; font-size: 14px;}

#searchsection{ width: 1007px; height: auto; float: left;}
#searchsection .leftsection{ width: 841px; height: auto; float: left;}
#searchsection .leftsection h1{font-weight:normal;font-size:20px;color:#333;border-top:solid 1px #333;padding:10px 0 10px 0;font-family:"lucida grande","Lucida Sans Unicode",tahoma,verdana,arial,sans-serif; }
#searchsection .leftsection p{font-size:11px;}
#searchsection .mainsearch{ width: 839px; height: auto; float: left; border: 1px #e2e1e1 solid; background: #f7f7f7; padding-bottom: 10px; margin-bottom: 25px;}
#searchsection .rightaddsection{ width: 160px; height: auto; float: right; margin:10px 0 0 0;}
#searchsection ul.addtext{ width: 160px; height: auto; float: left; margin: 0px; padding: 0px; margin-top: 25px; }
#searchsection ul.addtext li{ width: 140px; height: auto; float: left; margin: 0px; padding: 0px; list-style: none; font-size: 11px; padding-bottom: 20px; line-height: 15px;}
#searchsection ul.addtext li span{ color: #642c8e; width: 100%; height: auto; float: left;}
#searchsection ul.addtext li .datetime{ width: 100%; height: auto; float: left; padding-top: 10px; color: #888;}

#searchsection .search{ width: 819px; height: 355px; float: left; padding: 10px;}
#searchsection .search_tagline{ width: 819px; height: auto; float: left; text-align: center; color: #333333; font-size: 48px; padding-top: 80px; padding-bottom: 30px;}
#searchsection .search_tagline span{ width: 819px; height: auto; float: left; text-align: center; color: #636363; font-size: 26px;}
.searchbox{ width: 760px; height: auto; float: left; padding-left: 35px;}
ul.searchbox-section{ width: 628px; height: auto; float: left; margin: 0px; padding: 0px;}
ul.searchbox-section li { width: 197px; height: 30px; float: left; margin: 0px; padding: 0px; list-style: none; border: 1px solid #B6C4DA; background: #fff; margin-right: 10px;}
ul.searchbox-section li .arrow {
	background: -moz-linear-gradient(center top , #F2F6FA, #E4EBF2) repeat scroll 0 0 transparent;
    border-left: 1px solid #9FB2CE;
    color: #62768F;
    height: 30px;
    line-height: 31px;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
	float: right;
}
.search-inputbox{ width: 148px; height: auto; float: left; font-size: 15px; color: #333; margin: 4px 0 0 4px; border: 0px;}
.search-btn{ width: 127px; height: auto; float: left;}

.premiumadd-slider{ width: 819px; height: auto ; float: left; background: #fff; padding: 10px;}
.premiumadd-slider .heading{ width: 819px; height: auto; float: left; text-align: center; color: #642c8e; font-size: 16px; padding-top: 30px; padding-bottom: 15px;}
.premiumadd-slider .slidermain{ width: 819px; height: auto; float: left;}
.premiumadd-slider .leftarrow{ width: 16px; height: auto; float: left ; padding-top: 50px;}
.premiumadd-slider .rightarrow{ width: 16px; height: auto; float: right; padding-top: 50px;}
.premiumadd-slider .imageslider{ width: auto; height: auto; float: left; margin: 0px; padding: 0px;}
.premiumadd-slider .imageslider ul{ width: auto; height: auto; float: left; margin: 0px; padding: 0px; padding-left: 27px;}
.premiumadd-slider .imageslider ul li{ width: 125px; height: auto; float: left; list-style: none; display: inline; padding-left: 27px; text-align: center; font-size: 11px; color: #666; line-height: 15px; }
.premiumadd-slider .imageslider ul li:first-child{ padding: 0px;}
.premiumadd-slider .imageslider ul li span{ float: left; width: 125px; height: auto; padding-top: 5px;}

.appstote{ width: 839px; height: 102px; float: left; background: url(../images/appstore_back.jpg) repeat-x top left; border: 1px solid #E2E1E1;}
.appstote .addstore{ width: 568px; height: auto; float: left; padding-top: 9px; font-size: 11px; padding-right: 10px; border-right: 1px #dedede solid; line-height: 15px;}
.appstote .addstore img{ padding-right: 15px;}
.appstote .followus{ width: 256px; height: auto; float: left; text-align: center;}
.appstote .followus span{ width: 256px; height: auto; float: left; text-align: center; font-size: 24px; color: #333333; padding-top: 9px; padding-bottom: 9px;}

#footer{ width: 100%; height: auto; float: left; margin-top: 59px; background: url(../images/footer_bg.jpg) repeat-x top left; }
#footer .wrapper{ width: 1007px; height: auto; margin: 0 auto; }
#footer .footertop{ width: 1007px; height: 23px; float: left; font-size: 11px; color: #fff; padding-top: 10px; }
#footer .footerbottom{ width: 1007px; height: auto; float: left;}

.footerleft{ width: 500px; height: auto; float: left; text-align: left;}
.footerleft span{ font-size: 11px; padding-top: 15px; float: left; line-height: 15px;}
.footerright{  width: 500px; height: auto; float: right; text-align: right;}

ul.footernav{ width: auto; height: auto; float: right; margin: 0px; padding: 0px;}
ul.footernav li{ width: auto; height: auto; float: left; list-style: none; margin: 0px; padding: 0 8px 0 8px; background: url(../images/footer_devider.jpg) left center no-repeat;}
ul.footernav li:first-child{ background: none;}
ul.footernav li a{ color: #fff;}













.bodysection{ float: left; width: 841px; height: auto; font-size: 12px; margin-bottom: 25px; min-height: 480px;}
.pageheading{ font-size: 16px; float: left; width: 100%; height: auto; border-top: 1px #e2e2e2 solid; padding: 10px 0 5px 0 ; }
.pagecontent{ font-size: 12px; float: left; width: 100%; height: auto; }


.detailsmain{ width: 823px; height: auto; float: left; border-top: 1px #e2e1e1 solid; padding-top: 10px; font-size: 12px;}
.detailsmain .leftcontainer { width: 180px; height: auto; float: left; background: #f7f7f7; border: 1px #e2e1e1 solid; padding: 0px;}

.smallsearch{ width: 160px; height: auto; float: left; font-size: 14px; background: #ebf7fe; padding: 10px; padding-bottom: 25px;}
.searchinput{ width: 153px; float: left; border:  1px solid #B6C4DA; height: 25px; padding-left: 5px; color: #666666; margin-top: 3px; line-height: 25px;}

.categorysection{ width: 160px; height: auto; float: left; padding-top: 15px; font-size: 12px; border-bottom: 1px #E2E1E1 solid; border-top: 1px #E2E1E1 solid; padding-bottom: 15px; margin-left: 10px; }
.cat_head{ width: 160px; height: auto; float: left; border-bottom: 1px #e2e1e1 solid; padding-bottom: 5px; }
.cat_head span{ width: 60px; height: auto; float: right; text-align: right; font-size: 11px;}

ul.categorylist{ width: 160px; height: auto; float: left; margin: 0px; padding: 0px; margin-top: 10px;}
ul.categorylist li{ width: 150px; height: auto; float: left; list-style: none; margin: 0px; padding: 0px; color: #333; background: url(../images/arrow.jpg) no-repeat top left; padding-left: 10px; padding-top: 2px; padding-bottom: 2px;}
ul.categorylist li ul{ float: left; width: 150px; height:auto; margin: 0px; padding: 0px; margin-top: 5px;}
ul.categorylist li ul li{ float: left; width: 150px; height:auto; margin: 0px; padding: 0px; background: none; font-size: 11px; color: #666; padding-bottom: 2px;}

.locationsection{ width: 160px; height: auto; float: left; padding-top: 15px; font-size: 12px; padding-bottom: 15px; margin-left: 10px; }
.location_head{ width: 160px; height: auto; float: left; border-bottom: 1px #e2e1e1 solid; padding-bottom: 5px; margin-bottom: 10px; }
.location_head span{ width: 60px; height: auto; float: right; text-align: right;}

.locate_dropdown{ width: 160px; height: auto; float: left; border:  1px solid #B6C4DA; height: 20px; margin-bottom: 5px; color: #666666; font-size: 11px; }
.cityinput{ width: 153px; border:  1px solid #B6C4DA; height: 20px; margin-bottom: 5px; color: #666666; font-size: 11px; padding-left: 5px; line-height: 20px; }
.go_button{ background: #49a5df; color: #fff; font-size: 12px; cursor: pointer; padding: 5px 10px; float: right;}

.detailsmain .maincontentsection{ width: 622px; height: auto; float: left; padding-left: 19px;}
.searchresult{ width: 622px; height: auto; float:left; border-bottom: 1px #e2e1e1 solid; padding: 10px 0 10px 0;}
.searchresult span{ color: #333; font-size: 12px; float: left; padding-left: 5px; }

ul.resultlist{ width: 450px; height: auto; float: left; margin: 0px; padding: 0px; }
ul.resultlist li{ width: auto; height: auto; float: left; list-style: none; margin: 0px; padding: 0px; color:#666; font-size: 11px; margin-left: 10px;}

.backbutton{ width: 35px; height: auto; float: right; padding-right: 5px; text-align: right; background: url(../images/back_arrow.jpg) no-repeat top left;}

.addcontainer{ width: 622px; height: auto; float: left; padding-top: 10px;}
.add_head{ width: 617px; height: auto; float: left; color: #642c8e; font-size: 16px; padding-bottom: 10px; padding-left: 5px;}

.add_picture{ width: 250px; height: auto; float: left;}
.main_picture{ width: 250px; height: 250px; float: left; background: #e2e1e1;}

ul.productlisting{ width: 263px; height: auto; float: left; margin: 0px; padding: 0px; }
ul.productlisting li{ width: 75px; height: 75px; float: left; list-style: none; margin: 0px; padding: 0px; background: #e2e1e1; margin-right: 12px; margin-top: 10px;}

.add_details{ width: 354px; height: auto; float: right;}
.detail_section{ width: 354px; height: auto; float: left; border-bottom: 1px #e2e1e1 solid; padding: 8px 0; font-size: 11px; color: #333;}
.report{ width: 350px; height: auto; float: left; padding: 8px 0; font-size: 11px; color: #333; text-align: right; padding-right: 4px;}
.message{ width: 350px; height: auto; float: left; color: #ababab; font-size: 11px; padding-top: 50px;}
.detail_section span{ color: #666; font-size: 12px; padding-right: 5px;}
.detail_section label{ color: #333; font-size: 11px; width: 302px; height: auto; float: right;}
.detail_left{ width: 270px; height:auto; float: left; color: #333;}
.detail_left span{ color: #666; font-size: 12px; padding-right: 5px;}
.detail_right{ width: 50px; height:auto; float: right; text-align: right; padding-right: 5px;}
.add_rate{ width: 75px; height:auto; float: right; text-align: right; font-size: 14px; color: #642c8e; padding-right: 5px;}


.listingtop{ width: 622px; height: auto; float: left; padding: 10px 0 0px 0;}
.listingtop .leftlisting{ width: 150px; height: auto; float: left; padding: 0; padding-left: 5px;}
.listingtop .sortby{ width: 400px; height: auto; float: right; padding: 0; text-align: right; padding-right: 5px; font-size: 11px;}

.listingmain{ width: 622px; height: auto; float: left; padding: 10px 0; border-bottom: 1px #e2e1e1 solid;}
.listingmain .img{ width: 100px; height: 100px; float: left; padding: 0; background: #e2e1e1; margin-left: 5px; margin-right: 10px; }
.listingmain .productdetail{ width: 335px; height: auto; float: left; padding: 0; }
.listingmain .productdetail .name{ width: 335px; height: auto; float: left; padding: 0; font-size: 12px; color: #642c8e; padding-bottom: 15px; }
.listingmain .productdetail .state{ width: 335px; height: auto; float: left; padding: 0; color: #333; font-size: 11px; }
.listingmain .productdetail .state span{ color: #666; font-size: 12px; }
.listingmain .productdetail .keyword{ width: 335px; height: auto; float: left; padding: 0; color: #333; font-size: 11px;  }
.listingmain .productdetail .keyword span{ color: #666; font-size: 12px; }

.listingmain .pricedetails{ width: 150px; height: auto; float: right; padding: 0; text-align: right; padding-right: 5px; }
.listingmain .pricedetails .price{ width: 135px; height: auto; float: right; padding: 0; text-align: right; color: #642C8E; font-size: 14px; padding-bottom: 15px;}
.listingmain .pricedetails .posted{ width: 150px; height: auto; float: right; padding: 0; text-align: right; font-size: 11px; }
.listingmain .pricedetails .posted span{ color: #666; }

.loading{ width: 622px; height: auto; float: left; margin: 10px 0; padding: 5px 0; text-align: center; background: #f4fbff;}